@use "@angular/material" as mat;

html {
    color-scheme: light dark;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$rose-palette,
            ),
            typography: Roboto,
            density: 0
        )
    );
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

.mat-mdc-unelevated-button:not(:disabled) {
    &.mat-primary {
        color: var(--mat-sys-on-primary);
        background: var(--mat-sys-primary);
    }

    &.mat-secondary {
        color: var(--mat-sys-on-secondary);
        background: var(--mat-sys-secondary);
    }

    &.mat-tertiary {
        color: var(--mat-sys-on-tertiary);
        background: var(--mat-sys-tertiary);
    }
}

.ngx-mat-split-button-raised-wrapper .mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--mat-sys-surface);

    &:hover > .mat-mdc-button-persistent-ripple::before {
        opacity: var(--mat-protected-button-hover-state-layer-opacity, var(--mat-sys-hover-state-layer-opacity));
    }

    &.mat-primary {
        color: var(--mat-sys-primary);

        > .mat-mdc-button-persistent-ripple::before {
            background-color: var(--mat-sys-primary);
        }
    }

    &.mat-secondary {
        color: var(--mat-sys-secondary);

        > .mat-mdc-button-persistent-ripple::before {
            background-color: var(--mat-sys-secondary);
        }
    }

    &.mat-tertiary {
        color: var(--mat-sys-tertiary);

        > .mat-mdc-button-persistent-ripple::before {
            background-color: var(--mat-sys-tertiary);
        }
    }
}

.mat-mdc-outlined-button:not(:disabled) {
    &.mat-primary {
        color: var(--mat-sys-primary);
        border-color: var(--mat-sys-primary);
    }

    &.mat-secondary {
        color: var(--mat-sys-secondary);
        border-color: var(--mat-sys-secondary);
    }

    &.mat-tertiary {
        color: var(--mat-sys-tertiary);
        border-color: var(--mat-sys-tertiary);
    }
}
